.button__VR {
    padding: 1rem;
    width: 7rem;
    height: 7rem;
    position: absolute;
    bottom: 3rem;
    right: 4rem;
    z-index: 15;
   
    &:after {
        transition: all 350ms ease;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: .3rem;
        border: .3rem solid $primary-color;
    }

    &:before {
        content: '';
        position: absolute;
        border-radius: .3rem;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background: $off-white-color;
        z-index: -1;
    }

    &:hover {
        &:after {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    &:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        &:before {
            background-color: $primary-color;
        }
        &:after {
            border-color: $primary-off-color;
        }
    }
}


.link-img {
    height: 5rem;
    width: 9rem;
    padding-right: 4rem;
}

@media only screen and (max-device-width: 425px) {
    .button__VR {
        width: 4rem;
        padding: .5rem;
        position: absolute;
        z-index: 15;
        right: 1rem;
        bottom: 2rem;
        font-size: 1rem;
        height: 4rem;
        // transition: all 350ms ease;

        &:after {
            transition: all 350ms ease;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            border-radius: .3rem;
            border: .3rem solid $primary-color;
        }

        &:before {
            content: '';
            position: absolute;
            border-radius: .3rem;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            background: $off-white-color;
            z-index: -1;
        }

        &:hover {
            &:after {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }

        &:active {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            &:before {
                background-color: $primary-color;
            }
            &:after {
                border-color: $primary-off-color;
            }
        }
    }

    .link-img {
        height: 3rem;
        width: 3rem;
        position: absolute;
        bottom: .5rem;
        right: .5rem;
        padding-right: 0;
    }
}

