.button {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #dddddd;
    color: #808080;
    cursor: pointer;

    &:hover {
        color: #222;
    }

    &__VR {
        background: red;
        border: .1rem solid #fff;
        padding: 2rem;
        width: 24rem;
        display: inline-block;
        color: white;
        font-size: 2rem;
    }
}

@media only screen and (max-device-width: 425px) {
    .button__VR {
        width: 4rem;
        padding: 1rem;
        position: absolute;
        z-index: 15;
        right: 1rem;
        bottom: 4rem;
        font-size: 1rem;
    }
}
