.button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    color: #808080;
    cursor: pointer;

    &:hover {
        color: #222;
    }

    &__VR {
        background: red;
        border: .1rem solid #fff;
        padding: 2rem;
        width: 24rem;
        display: inline-block;
        color: white;
        font-size: 2rem;
    }
}

@media only screen and (max-device-width: 414px) {
    .button__VR {
        width: 12rem;
        padding: 1rem;
    }
}
