header {
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 999;
    background: rgba(213, 184, 230, 0.555);
}

.nav-wrapper {
    margin: 0 auto;
    width: 90%;

    &__nav {
        display: flex;
        justify-content: space-around;
        border-radius: .5rem;
    }

    &__link {
        display: inline-block;
        padding: 1rem 1.5rem;
        text-decoration: none;
        color: black;
        font-size: 3rem;
    }
}

@media only screen and (max-device-width: 414px) {
    
}

