header {
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 999;
}

.logo {
    height: 8rem;
    width: 11rem; 
    margin-left: 1rem;
}

.navMobile-wrapper {
    margin: 0 auto;
    &__nav {
        display: flex;
    }
    &__link {
        padding: .5rem;
        color: black;
        font-size: 2rem;
        transition: all 350ms ease-out;
        &:hover,
        &:focus {
            background: {
                image: linear-gradient(to top, #ff6b40, #ff6b40 7%, lighten(#ff6b40, 5%) 7%, lighten(#ff6b40, 5%));
                position: 0 0;
                size: 100% 100%;
            }
            border-radius: 7px;
            margin: .5rem;
            padding: 0.25rem 2rem;
        }
        &:active {
            background-image: linear-gradient(to bottom, darken(#ff6b40, 7%), darken(#ff6b40, 7%) 7%, #ff6b40 7%, #ff6b40);
            border-radius: 7px;
        }
    }
}

@media only screen and (max-device-width: 425px) {
    .logo {
        height: 3rem;
        width: 3rem;
    }

    .navMobile-wrapper {
        margin: 0 auto;

        &__nav {
            display: flex;
        }
        &__link {
            padding: .5rem;
            color: black;
            font-size: 2rem;
            transition: all 350ms ease-out;

            &:hover, &:focus {
                background: {
                    image: linear-gradient(to top, #ff6b40, #ff6b40 7%, lighten(#ff6b40, 5%) 7%, lighten(#ff6b40, 5%));
                    position: 0 0;
                    size: 100% 100%;
                }
                border-radius: 7px;
                margin: .5rem;
                padding: 0.25rem 2rem;
            }

            &:active {
                background-image : linear-gradient(to bottom, darken(#ff6b40, 7%), darken(#ff6b40, 7%) 7%, #ff6b40 7%, #ff6b40);
                border-radius: 7px;
            }
        }
    }   
}

