 body {
    font-weight: 400;
    font-family: 'Lato', Arial, sans-serif;
 }

.list-row__letter {
    font-family: 'Alegreya', serif;
}

.list-row__text {
    font-family: 'Lato', sans-serif;
    color: #fff;
    margin: 0;
    font-size: 8rem;
}

@media only screen and (max-device-width: 425px) {
    .list-row__letter {

    }
}
