 body {
    font-weight: 400;
    // font-size: 1.4rem;
    font-family: Lato, Arial, sans-serif;
 }

.list-row__letter {
    font-family: 'Alegreya', serif;
}

.list-row__text {
    font-family: 'Lato', sans-serif;
    color: #fff;
    margin: 0;
    font-size: 8rem;
}

