 body {
    font-weight: 400;
    font-size: 1.4rem;
    font-family: CoreSans, Arial, sans-serif;
 }
 h2, h3 {
     color: white;
     font-size: 5rem;
     margin: 3rem 0;
 }
.heading {
    flex-grow: 2;
}
