.list {
    margin: 20px 0;
    position: relative;
    height: 100%;
    
    &-row {
        // display: flex;
        // flex-direction: column;
        line-height: 24px;
        white-space: nowrap;
        margin: 10px 0;
        // padding: 10px;
        background: #ffffff;
        border: 1px solid #e3e3e3;
        // from codepen
        position: relative;
        height: 100vh;
        overflow: hidden;
        background-size: cover;
        background-position: 0px center;
        background-repeat: no-repeat;

    }

}
