a {
    text-decoration: none;
}
.page {
    margin: 20px;
}

.interactions {
    text-align: center;
}
.profileImg {
    height: 24rem;
    width: 20rem;
}
// cont is like page
// slider is like list
// slide is like list-row