/*-------------
 	General
-------------*/

html {
    color: $grey-color;
}

ul,
nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

a.btn {
    color: $white-color;
    border-radius: .4rem;
    text-transform: uppercase;
    background-color: $secondary-color;
    font-weight: 800;
    text-align: center;
}

hr {
    width: 15rem;
    height: .2rem;
    background-color: $secondary-color;
    border: 0;
    margin-bottom: 8rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12.5rem 10rem;
}

@media (max-width: 1000px) {
    section {
        padding: 10rem 5rem;
    }
}

@media (max-width: 600px) {
    section {
        padding: 8rem 3rem;
    }
}

section h3.title {
    color: $primary-color;
    text-transform: capitalize;
    font: bold 3.2rem 'Lato', sans-serif;
    margin-bottom: 3.5rem;
    text-align: center;
}

section p {
    max-width: 80rem;
    text-align: center;
    margin-bottom: 3.5rem;
    padding: 0 2rem;
    line-height: 2;
    font-size: 1.5rem;
}

ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*-------------
 	Header
-------------*/

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white-color;
    padding: 3.5rem 10rem 0;
    font-size: 2rem;
}

header h2 {
    font-family: 'Alegreya', serif;
}

header nav {
    display: flex;
}

header nav li {
    margin: 0 1.5rem;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}

@media (max-width: 1000px) {
    header {
        padding: 2rem 5rem;
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    header h2 {
        margin-bottom: 1.5rem;
    }
}

/*----------------
 	Hero Section
----------------*/

.hero {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: $white-color;
    text-align: center;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: $primary-color;
    z-index: -1;
}

.hero .background-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $opaque;
    opacity: 0.50;
}

.hero h1 {
    font: bold 8rem 'Alegreya', serif;
    margin-bottom: 1.5rem;
}

.hero h3 {
    font: normal 2.8rem 'Lato', sans-serif;
    margin-bottom: 4rem;
}

.hero a.btn {
    padding: 2rem 4.6rem;
}

@media (max-width: 800px) {
    .hero {
        min-height: 60rem;
    }
    .hero h1 {
        font-size: 4.8rem;
    }
    .hero h3 {
        font-size: 2.4rem;
    }
    .hero a.btn {
        padding: 1.5rem 4rem;
    }
}

/*--------------------
 	Our Work Section
---------------------*/

.оur-work {
    background-color: $grey-color-dark;
}

.our-work p {
    margin-bottom: .5rem;
}

.our-work .grid li {
    padding: 2rem;
    height: 35rem;
    border-radius: .3rem;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: $secondary-color;
}

.our-work .grid li.small {
    flex-basis: 40%;
}

.our-work .grid li.large {
    flex-basis: 60%;
}

@media (max-width: 1000px) {
    .our-work .grid li.small,
    .our-work .grid li.large {
        flex-basis: 100%;
    }
}

/*----------------------
 	Features Section
----------------------*/

.features {
    background-color: $white-color;
}

.features .grid li {
    padding: 0 3rem;
    flex-basis: 33%;
    text-align: center;
}

.features .grid li i {
    font-size: 5rem;
    color: $secondary-color;
    margin-bottom: 2.5rem;
}

.features .grid li h4 {
    color: $grey-color;
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.features .grid li p {
    margin: 0;
}

@media (max-width: 1000px) {
    .features .grid li {
        flex-basis: 70%;
        margin-bottom: 6.5rem;
    }
    .features .grid li:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    .features .grid li {
        flex-basis: 100%;
    }
}

/*--------------------
 	Reviews Section
--------------------*/

.reviews {
    background-color: $grey-color-light;
}

.reviews .quote {
    text-align: center;
    width: 80%;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 2rem;
    padding: 0;
}

.reviews .author {
    font-size: 1.8rem;
    margin-bottom: 5rem;
}

.reviews .author:last-child {
    margin-bottom: 0;
}

@media (max-width: 1000px) {
    .reviews .quote {
        font-size: 2rem;
    }
    .reviews .author {
        font-size: 1.6rem;
    }
}

/*---------------------
 	Contact Section
---------------------*/

.contact {
    background-color: $grey-color-light-2;
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80rem;
    width: 80%;
}

.contact form input {
    padding: 1.5rem;
    flex: 1;
    margin-right: 3rem;
    font-size: 1.8rem;
    color: $primary-color;
}

.contact form .btn {
    padding: 1.8rem 4.2rem;
}

@media (max-width: 800px) {
    .contact form input {
        flex-basis: 100%;
        margin: 0 0 2rem 0;
    }
}

/*-------------
 	Footer
-------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $off-white-color;
    background-color: $secondary-color;
    padding: 6rem 0;
}

footer ul {
    display: flex;
    margin-bottom: 2.5rem;
    font-size: 3.2rem;
}

footer ul li {
    margin: 0 .8rem;
}

footer ul li:first-child {
    margin-left: 0;
}

footer ul li:last-child {
    margin-right: 0;
}

footer p {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: $off-white-color;
    margin-bottom: 1rem;
}

footer p a {
    color: $off-white-color;
}

@media (max-width: 700px) {
    footer {
        padding: 8rem 1.5rem;
    }
}

/* -- Demo ads -- */

@media (max-width: 1200px) {
    #bsaHolder {
        display: none;
    }
}