@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  /*Technique to set everything to rem by changing font size
	we change to 10 because of easy math. 1 rem = 10px also 
	comment out the body's 16px font size, setting to 100% makes
	it = to root 16px, but then / 10 for our 10px*/
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-weight: 400;
  font-family: 'Lato', Arial, sans-serif; }

.list-row__letter {
  font-family: 'Alegreya', serif; }

.list-row__text {
  font-family: 'Lato', sans-serif;
  color: #EDF5E1;
  margin: 0;
  font-size: 8rem; }

.button__VR {
  padding: 1rem;
  width: 7rem;
  height: 7rem;
  position: absolute;
  bottom: 3rem;
  right: 4rem;
  z-index: 15; }
  .button__VR:after {
    transition: all 350ms ease;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: .3rem;
    border: 0.3rem solid #5CDB95; }
  .button__VR:before {
    content: '';
    position: absolute;
    border-radius: .3rem;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #EDF5E1;
    z-index: -1; }
  .button__VR:hover:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .button__VR:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
    .button__VR:active:before {
      background-color: #5CDB95; }
    .button__VR:active:after {
      border-color: #8EE4AF; }

.link-img {
  height: 5rem;
  width: 9rem;
  padding-right: 4rem; }

@media only screen and (max-device-width: 425px) {
  .button__VR {
    width: 4rem;
    padding: .5rem;
    position: absolute;
    z-index: 15;
    right: 1rem;
    bottom: 2rem;
    font-size: 1rem;
    height: 4rem; }
    .button__VR:after {
      transition: all 350ms ease;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border-radius: .3rem;
      border: 0.3rem solid #5CDB95; }
    .button__VR:before {
      content: '';
      position: absolute;
      border-radius: .3rem;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      background: #EDF5E1;
      z-index: -1; }
    .button__VR:hover:after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .button__VR:active {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
      .button__VR:active:before {
        background-color: #5CDB95; }
      .button__VR:active:after {
        border-color: #8EE4AF; }
  .link-img {
    height: 3rem;
    width: 3rem;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    padding-right: 0; } }

input {
  padding: 1rem;
  border-radius: .5rem;
  outline: none;
  margin-right: 1rem;
  border: 0.1rem solid #379683; }

.list {
  margin: 0;
  height: 100vh;
  position: relative; }
  .list-row {
    display: flex;
    flex-direction: column;
    height: 50vh;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(5, 56, 107, 0.25);
    z-index: 10;
    position: relative; }
    .list-row:not(:last-child) {
      margin-bottom: 2rem; }
    .list-row__text-wrapper {
      position: absolute;
      display: flex;
      justify-content: center;
      align-content: center;
      width: 100%;
      height: 100vh;
      z-index: 15; }
    .list-row__letter {
      position: absolute;
      left: 3rem;
      height: 58vh;
      -webkit-text-fill-color: transparent !important;
      -webkit-background-clip: text !important;
      background-clip: text !important;
      background-size: cover;
      background-position: left;
      background-repeat: no-repeat;
      font-size: 22vh;
      font-weight: 800;
      z-index: 2; }

@media only screen and (max-device-width: 425px) {
  .list-row__letter {
    font-size: 12vh;
    font-weight: 800;
    top: 8rem;
    left: 1rem;
    height: 15vh;
    display: inline-table; } }

.header {
  width: 100%;
  max-width: 100%;
  position: fixed;
  z-index: 999; }

.logo {
  height: 6rem;
  width: 8rem;
  margin-left: 2rem; }

.navMobile-wrapper {
  margin: 0 auto; }
  .navMobile-wrapper__nav {
    display: flex; }
  .navMobile-wrapper__link {
    padding: .5rem;
    font-size: 2rem;
    transition: all 350ms ease-out; }
    .navMobile-wrapper__link:hover, .navMobile-wrapper__link:focus {
      background-image: linear-gradient(to top, #05386B, #05386B 7%, #064583 7%, #064583);
      background-position: 0 0;
      background-size: 100% 100%;
      border-radius: .7rem;
      margin: 1.5rem;
      padding: 0.25rem 2rem; }
    .navMobile-wrapper__link:active {
      background-image: linear-gradient(to bottom, #032649, #032649 7%, #05386B 7%, #05386B);
      border-radius: .7rem; }

@media only screen and (max-device-width: 425px) {
  .logo {
    height: 3rem;
    width: 4rem;
    margin-left: 1rem; }
  .navMobile-wrapper {
    margin: 0 auto; }
    .navMobile-wrapper__nav {
      display: flex; }
    .navMobile-wrapper__link {
      padding: .5rem;
      font-size: 2rem;
      transition: all 350ms ease-out; }
      .navMobile-wrapper__link:hover, .navMobile-wrapper__link:focus {
        background-image: linear-gradient(to top, #05386B, #05386B 7%, #064583 7%, #064583);
        background-position: 0 0;
        background-size: 100% 100%;
        border-radius: .7rem;
        margin: 1.5rem;
        padding: 0.25rem 2rem; }
      .navMobile-wrapper__link:active {
        background-image: linear-gradient(to bottom, #032649, #032649 7%, #05386B 7%, #05386B);
        border-radius: .7rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

a {
  text-decoration: none; }

/*-------------
 	General
-------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font: normal 16px sans-serif;
  color: #555; }

ul,
nav {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.9; }

a:hover {
  opacity: 1; }

a.btn {
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #2196F3;
  font-weight: 800;
  text-align: center; }

hr {
  width: 150px;
  height: 2px;
  background-color: #2196F3;
  border: 0;
  margin-bottom: 80px; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 125px 100px; }

@media (max-width: 1000px) {
  section {
    padding: 100px 50px; } }

@media (max-width: 600px) {
  section {
    padding: 80px 30px; } }

section h3.title {
  color: #414a4f;
  text-transform: capitalize;
  font: bold 32px 'Open Sans', sans-serif;
  margin-bottom: 35px;
  text-align: center; }

section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2; }

ul.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/*-------------
 	Header
-------------*/
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 100px 0; }

header h2 {
  font-family: 'Quicksand', sans-serif; }

header nav {
  display: flex; }

header nav li {
  margin: 0 15px; }

header nav li:first-child {
  margin-left: 0; }

header nav li:last-child {
  margin-right: 0; }

@media (max-width: 1000px) {
  header {
    padding: 20px 50px; } }

@media (max-width: 700px) {
  header {
    flex-direction: column; }
  header h2 {
    margin-bottom: 15px; } }

/*----------------
 	Hero Section
----------------*/
.hero {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center; }

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #2196F3;
  z-index: -1; }

.hero .background-image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #414a4f;
  opacity: 0.50; }

.hero h1 {
  font: bold 60px 'Open Sans', sans-serif;
  margin-bottom: 15px; }

.hero h3 {
  font: normal 28px 'Open Sans', sans-serif;
  margin-bottom: 40px; }

.hero a.btn {
  padding: 20px 46px; }

@media (max-width: 800px) {
  .hero {
    min-height: 600px; }
  .hero h1 {
    font-size: 48px; }
  .hero h3 {
    font-size: 24px; }
  .hero a.btn {
    padding: 15px 40px; } }

/*--------------------
 	Our Work Section
---------------------*/
.оur-work {
  background-color: #fff; }

.our-work p {
  margin-bottom: .5rem; }

.our-work .grid li {
  padding: 20px;
  height: 350px;
  border-radius: 3px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-color: #333; }

.our-work .grid li.small {
  flex-basis: 40%; }

.our-work .grid li.large {
  flex-basis: 60%; }

@media (max-width: 1000px) {
  .our-work .grid li.small,
  .our-work .grid li.large {
    flex-basis: 100%; } }

/*----------------------
 	Features Section
----------------------*/
.features {
  background-color: #f7f7f7; }

.features .grid li {
  padding: 0 30px;
  flex-basis: 33%;
  text-align: center; }

.features .grid li i {
  font-size: 50px;
  color: #2196F3;
  margin-bottom: 25px; }

.features .grid li h4 {
  color: #555;
  font-size: 20px;
  margin-bottom: 25px; }

.features .grid li p {
  margin: 0; }

@media (max-width: 1000px) {
  .features .grid li {
    flex-basis: 70%;
    margin-bottom: 65px; }
  .features .grid li:last-child {
    margin-bottom: 0; } }

@media (max-width: 600px) {
  .features .grid li {
    flex-basis: 100%; } }

/*--------------------
 	Reviews Section
--------------------*/
.reviews {
  background-color: #fff; }

.reviews .quote {
  text-align: center;
  width: 80%;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 0; }

.reviews .author {
  font-size: 18px;
  margin-bottom: 50px; }

.reviews .author:last-child {
  margin-bottom: 0; }

@media (max-width: 1000px) {
  .reviews .quote {
    font-size: 20px; }
  .reviews .author {
    font-size: 16px; } }

/*---------------------
 	Contact Section
---------------------*/
.contact {
  background-color: #f7f7f7; }

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  width: 80%; }

.contact form input {
  padding: 15px;
  flex: 1;
  margin-right: 30px;
  font-size: 18px;
  color: #555; }

.contact form .btn {
  padding: 18px 42px; }

@media (max-width: 800px) {
  .contact form input {
    flex-basis: 100%;
    margin: 0 0 20px 0; } }

/*-------------
 	Footer
-------------*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #414a4f;
  padding: 60px 0; }

footer ul {
  display: flex;
  margin-bottom: 25px;
  font-size: 32px; }

footer ul li {
  margin: 0 8px; }

footer ul li:first-child {
  margin-left: 0; }

footer ul li:last-child {
  margin-right: 0; }

footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px; }

footer p a {
  color: #fff; }

@media (max-width: 700px) {
  footer {
    padding: 80px 15px; } }

/* -- Demo ads -- */
@media (max-width: 1200px) {
  #bsaHolder {
    display: none; } }
