*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  /*Technique to set everything to rem by changing font size
	we change to 10 because of easy math. 1 rem = 10px also 
	comment out the body's 16px font size, setting to 100% makes
	it = to root 16px, but then / 10 for our 10px*/
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  color: #222;
  background: #f4f4f4; }

body {
  font-weight: 400;
  font-family: 'Lato', Arial, sans-serif; }

.list-row__letter {
  font-family: 'Alegreya', serif; }

.list-row__text {
  font-family: 'Lato', sans-serif;
  color: #fff;
  margin: 0;
  font-size: 8rem; }

.button__VR {
  padding: 2rem;
  width: 17rem;
  position: absolute;
  bottom: 3rem;
  right: 4rem;
  z-index: 15;
  transition: all 350ms ease-out; }
  .button__VR:hover, .button__VR:focus {
    background-image: linear-gradient(to top, #ff6b40, #ff6b40 7%, #ff7f5a 7%, #ff7f5a);
    background-position: 0 0;
    background-size: 100% 100%;
    border-radius: 7px;
    margin: .5rem;
    padding: 0.25rem 2rem; }
  .button__VR:active {
    background-image: linear-gradient(to bottom, #ff4f1c, #ff4f1c 7%, #ff6b40 7%, #ff6b40);
    border-radius: 7px; }

.link-img {
  height: 10rem;
  width: 14rem; }

@media only screen and (max-device-width: 425px) {
  .button__VR {
    width: 5rem;
    padding: .5rem;
    position: absolute;
    z-index: 15;
    right: 1rem;
    bottom: 2rem;
    font-size: 1rem;
    height: 5rem;
    transition: all 350ms ease-out; }
    .button__VR:hover, .button__VR:focus {
      background-image: linear-gradient(to top, #ff6b40, #ff6b40 7%, #ff7f5a 7%, #ff7f5a);
      background-position: 0 0;
      background-size: 100% 100%;
      border-radius: 7px;
      margin: .5rem;
      padding: 0.25rem 2rem; }
    .button__VR:active {
      background-image: linear-gradient(to bottom, #ff4f1c, #ff4f1c 7%, #ff6b40 7%, #ff6b40);
      border-radius: 7px; }
  .link-img {
    height: 4rem;
    width: 4rem;
    position: absolute;
    bottom: .5rem;
    right: .5rem; } }

input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  border: 1px solid #dddddd; }

.list {
  margin: 0;
  height: 100vh;
  position: relative; }
  .list-row {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    height: 50vh;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(11, 15, 39, 0.4);
    z-index: 10;
    position: relative; }
    .list-row:not(:last-child) {
      margin-bottom: 2rem; }
    .list-row__text-wrapper {
      position: absolute;
      display: flex;
      justify-content: center;
      align-content: center;
      width: 100%;
      height: 100vh;
      z-index: 15; }
    .list-row__letter {
      position: absolute;
      left: 3rem;
      height: 58vh;
      -webkit-text-fill-color: transparent !important;
      -webkit-background-clip: text !important;
      background-clip: text !important;
      background-size: cover;
      background-position: left;
      background-repeat: no-repeat;
      font-size: 22vh;
      font-weight: 800;
      z-index: 2; }

@media only screen and (max-device-width: 425px) {
  .list-row__letter {
    font-size: 12vh;
    font-weight: 800;
    top: 15rem;
    left: 1rem;
    height: 15vh;
    display: inline-table; } }

header {
  width: 100%;
  max-width: 100%;
  position: fixed;
  z-index: 999; }

.logo {
  height: 8rem;
  width: 11rem;
  margin-left: 1rem; }

.navMobile-wrapper {
  margin: 0 auto; }
  .navMobile-wrapper__nav {
    display: flex; }
  .navMobile-wrapper__link {
    padding: .5rem;
    color: black;
    font-size: 2rem;
    transition: all 350ms ease-out; }
    .navMobile-wrapper__link:hover, .navMobile-wrapper__link:focus {
      background-image: linear-gradient(to top, #ff6b40, #ff6b40 7%, #ff7f5a 7%, #ff7f5a);
      background-position: 0 0;
      background-size: 100% 100%;
      border-radius: 7px;
      margin: .5rem;
      padding: 0.25rem 2rem; }
    .navMobile-wrapper__link:active {
      background-image: linear-gradient(to bottom, #ff4f1c, #ff4f1c 7%, #ff6b40 7%, #ff6b40);
      border-radius: 7px; }

@media only screen and (max-device-width: 425px) {
  .logo {
    height: 3rem;
    width: 3rem; }
  .navMobile-wrapper {
    margin: 0 auto; }
    .navMobile-wrapper__nav {
      display: flex; }
    .navMobile-wrapper__link {
      padding: .5rem;
      color: black;
      font-size: 2rem;
      transition: all 350ms ease-out; }
      .navMobile-wrapper__link:hover, .navMobile-wrapper__link:focus {
        background-image: linear-gradient(to top, #ff6b40, #ff6b40 7%, #ff7f5a 7%, #ff7f5a);
        background-position: 0 0;
        background-size: 100% 100%;
        border-radius: 7px;
        margin: .5rem;
        padding: 0.25rem 2rem; }
      .navMobile-wrapper__link:active {
        background-image: linear-gradient(to bottom, #ff4f1c, #ff4f1c 7%, #ff6b40 7%, #ff6b40);
        border-radius: 7px; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

a {
  text-decoration: none; }
